* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
}

nav {
  padding: 50px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: -30px;
}

nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav .nav-items .nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30px;
  color: #000000;
}

nav .nav-items .active-item {
  font-weight: 700;
  color: #fe5e35;
}

.intro-section {
  display: grid;
  grid-template-columns:3fr 2fr;
  gap: 10px;
  align-items: center;
}

.intro-section .left-section {
  padding: 30px 10px;
}

.intro-section .left-section h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 45px;
  color: #000000;
}

.left-section h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 400;
  font-size: 80px;
  color: #000000;
}

.left-section .sub-headlines {
  padding: 40px 10px 40px 100px; 
}

.left-section .sub-headlines .sub-headline img {
  background: #fe5e35;
  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}

.left-section .sub-headlines .sub-headline {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #000000;
  margin: 20px 0px;
}

.left-section .text {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 18px;
  color: #00000070;
}

.left-section .action-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0px;
}

.action-btn {
  background: #fe5e35;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.intro-section .right-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.right-section .discount {
  position: absolute;
  width: 35%;
  bottom: 30%;
  left: -50px;
}

.right-section .discount-content {
  position: absolute;
  bottom: 37%;
  left: -10px;
  text-align: center;
}

.right-section .discount-content h4 {
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  margin: 0px;
}

.right-section .discount-content h1 {
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 64px;
  color: #ffffff;
  margin: 0px;
}

.right-section img {
  width: 100%;
}

.right-section .dots {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dots .dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.dots .black-dot {
  background: #000000;
}
.dots .tomato-dot {
  background: #fe5e35;
}
.dots .yellow-dot {
  background: #fbd104;
}
@media (max-width: 800px){
body {
  background:#ffffff;
}
nav {
  padding: 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

nav .nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

nav .nav-items .nav-item {
  font-size: 15px;
  margin-left: 00px;
}

nav .nav-items .active-item {
  font-weight: 700;
  color: #fe5e35;
}

.intro-section {
  display: grid;
  grid-template-columns:3fr 2fr;
  gap: 10px;
  align-items: center;
}

.intro-section .left-section {
  padding: 30px 10px;
}

.intro-section .left-section h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 10px;
  color: #000000;
}

.left-section h1 {
  font-size: 30px;
  
}

.left-section .sub-headlines {
  padding: 40px 10px 40px 100px; 
}

.left-section .sub-headlines .sub-headline img {
  background: #fe5e35;
  border-radius: 50%;
  padding: 1px;
  margin-right: 5px;
}

.left-section .sub-headlines .sub-headline {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #000000;
  margin: 20px 0px;
}

.left-section .text {
  font-family: "Poppins", sans-serif;
  font-weight: 250;
  font-size: 10px;
  color: #00000070;
}

.left-section .action-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0px;
}

.action-btn {
  background: #fe5e35;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 50px;
  padding: 5px 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #ffffff;
}

.intro-section .right-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.right-section .discount {
  position: absolute;
  width: 35%;
  bottom: 30%;
  left: -30px;
}

.right-section .discount-content {
  position: absolute;
  bottom: 37%;
  left: -10px;
  text-align: center;
}

.right-section .discount-content h4 {
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
  margin: 0px;
}

.right-section .discount-content h1 {
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
}

.right-section img {
  width: 100%;
}

.right-section .dots {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dots .dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-bottom: 40px;
}

.dots .black-dot {
  background: #000000;
}
.dots .tomato-dot {
  background: #fe5e35;
}
.dots .yellow-dot {
  background: #fbd104;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
}
